**/*.env
**/*.log
**/.DS_Store

/book
!scripts/
scripts/*
!scripts/Addicted/
/archive/install_log.xml
/archive/Addicted.zip
/archive/layout.xml
/archive/source/customSounds/**/*.mp3
/archive/source/resources/info.json
/archives/**/*.cpmodproj
/archives/**/layout.xml
/archives/**/packed
/archives/*.archive
/target
/researches

/Addicted
/.VSCodeCounter
dump.redscripts
saved.json
/.installation
/medium
/community
/samples

redscript-cli.exe
WolvenKit.CLI.exe
REDmodLog.txt
