**/*.env
**/*.log
**/.DS_Store

/book/site
scripts/*
!scripts/Addicted
/archives/**/*.cpmodproj
/archives/**/*.zip
/archives/**/layout.xml
/archives/**/install_log.xml
/archives/**/fileTreeState.json
/archives/**/custom_refs.txt
/archives/**/GraphEditorStates/
/archives/**/packed
/archives/*.archive
/archives/*.xl

/Addicted
/.VSCodeCounter
dump.redscripts
saved.json
/.installation
/medium
/community
/samples

redscript-cli.exe
WolvenKit.CLI.exe
REDmodLog.txt
