**/*.env
**/*.log
**/.DS_Store

/book
!scripts/
scripts/*
!scripts/Addicted/
/archive/install_log.xml
/archive/Addicted.zip
/archive/packed/
/archive/layout.xml
/archive/source/customSounds/**/*.mp3
/archive/Addicted.cpmodproj

./Addicted/
/.VSCodeCounter
dump.redscripts
saved.json
/.installation
/medium
/community
/samples
