name: Release
on:
  push:
    branches:
      - main
      - chore/french
    tags:
      - "v*"
      - "rc*"
      - "beta*"
      - "alpha*"
env:
  WOLVENKIT_CORE_VERSION: '8.9.0'
  WOLVENKIT_CLI_VERSION: '1.8.2'
  IS_DRAFT: ${{ startsWith(github.ref_name, 'beta') || startsWith(github.ref_name, 'alpha') }}

jobs:
  bundle:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Bundle files
        run: just bundle
      - name: Zip files
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        uses: thedoctor0/zip-release@0.7.0
        with:
          type: 'zip'
          filename: 'Addicted-windows-latest-${{ github.ref_name }}.zip'
          directory: ./Addicted
          path: .
          recursive_exclusions: ${{ (env.IS_DRAFT && 'Debug.reds debug.reds') || '' }}
      - name: Upload artifact
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        uses: actions/upload-artifact@v3
        with:
          name: windows-latest-${{ github.ref_name }}-artifact
          path: Addicted/Addicted-windows-latest-${{ github.ref_name }}.zip
          if-no-files-found: error
  bundle-translations:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Bundle files
        run: just bundle_lang "fr-fr"
      - name: Zip files
        uses: thedoctor0/zip-release@0.7.0
        with:
          type: 'zip'
          filename: 'Addicted-windows-latest-fr-fr-${{ github.ref_name }}.zip'
          directory: ./Addicted
          path: .
          recursive_exclusions: ${{ (env.IS_DRAFT && 'Debug.reds debug.reds') || '' }}
      - name: Upload translations
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        uses: actions/upload-artifact@v3
        with:
          name: windows-latest-${{ github.ref_name }}-translations-fr-fr
          path: Addicted/Addicted-windows-latest-fr-fr-${{ github.ref_name }}.zip
          if-no-files-found: error
  release:
    if: ${{ startsWith(github.event.ref, 'refs/tags') }}
    runs-on: ubuntu-latest
    needs: bundle
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-${{ github.ref_name }}-artifact
          path: release
      - name: Download French translations
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-${{ github.ref_name }}-translations-fr-fr
          path: release
      - name: Create release ${{ github.ref_name }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release/*.zip"
          draft: ${{ env.IS_DRAFT }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifactErrorsFailBuild: true
