name: Release
on:
  push:
    branches:
      - main
    tags:
      - "v*"
      - "rc*"
      - "beta*"
      - "alpha*"
env:
  WOLVENKIT_CORE_VERSION: '8.8.1'
  WOLVENKIT_CLI_VERSION: '1.8.1'
  IS_DRAFT: ${{ startsWith(github.ref_name, 'beta') || startsWith(github.ref_name, 'alpha') }}

jobs:
  bundle:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: Setup WolvenKit & Pack archive for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          C:\msys64\usr\bin\wget.exe https://github.com/WolvenKit/WolvenKit/releases/download/"${{ env.WOLVENKIT_CORE_VERSION }}"/"${{ env.WOLVENKIT_ARTIFACT }}"
          7z x "${{ env.WOLVENKIT_ARTIFACT }}"
          dotnet tool install -g wolvenkit.cli
          cp77tools pack -p "archive"
          rm -Force "${{ env.WOLVENKIT_ARTIFACT }}"
        env:
          WOLVENKIT_ARTIFACT: WolvenKit.Console-${{ env.WOLVENKIT_CLI_VERSION }}.zip
      - name: Setup WolvenKit & Pack archive for Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          wget https://github.com/WolvenKit/WolvenKit/releases/download/$WOLVENKIT_CORE_VERSION/$WOLVENKIT_ARTIFACT
          7z x $WOLVENKIT_ARTIFACT
          dotnet tool install -g wolvenkit.cli
          cp77tools pack -p "archive"
          rm -f $WOLVENKIT_ARTIFACT
        env:
          WOLVENKIT_ARTIFACT: WolvenKit.ConsoleLinux-${{ env.WOLVENKIT_CLI_VERSION }}.zip
      - name: Setup Just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Bundle files
        run: just bundle
      - name: Zip files
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        uses: thedoctor0/zip-release@0.7.0
        with:
          type: 'zip'
          filename: 'Addicted-${{ matrix.os }}-${{ github.ref_name }}.zip'
          directory: ./Addicted
          path: .
          recursive_exclusions: ${{ (env.IS_DRAFT && 'Debug.reds debug.reds') || '' }}
      - name: Upload artifact ${{ matrix.os }}
        if: ${{ startsWith(github.event.ref, 'refs/tags') }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ github.ref_name }}-artifact
          path: Addicted/Addicted-${{ matrix.os }}-${{ github.ref_name }}.zip
          if-no-files-found: error
  changelog:
    if: ${{ startsWith(github.event.ref, 'refs/tags') }}
    runs-on: ubuntu-latest
    needs: bundle
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Regenerate CHANGELOG.md
        run: |
          git config user.name "Update from CI"
          git config user.email ""
          cargo install gitmoji-changelog@0.3.0
          rm -f CHANGELOG.md
          gitmoji-changelog . -o CHANGELOG.md
          git add CHANGELOG.md
          git commit -m ":rocket: update changelog" CHANGELOG.md
          git push origin HEAD:main
  release:
    if: ${{ startsWith(github.event.ref, 'refs/tags') }}
    runs-on: ubuntu-latest
    needs: [bundle, changelog]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Download artifact windows-latest
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-${{ github.ref_name }}-artifact
          path: release
      - name: Download artifact ubuntu-latest
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-latest-${{ github.ref_name }}-artifact
          path: release
      - name: Create release ${{ github.ref_name }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release/*.zip"
          draft: ${{ env.IS_DRAFT }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifactErrorsFailBuild: true
